{% extends 'posts/layout.html' %}

{% block content %}
<h4 class="center-align light-blue-text text-darken-4">{{post.title}}</h4>
<div class="card">
    <div class="card-content">
        {{post.body}}
    </div>
    <div class="card-action">
        {{post.created_at}}
    </div>
</div>
<a href = "/posts" class="btn light-blue darken-4">Go Back</a>
{% endblock %}