{% extends 'posts/layout.html' %}

{% block content %}

    {% for post in posts %}
      
        <div class="divider "></div>
            <div class="section">
            
                <a href="/posts/details/{{post.id}}">
                <h5 class="black-text">{{post.title}}</h5>
                <p class="grey-text" style="font-size: 10px;">{{post.created_at.date}}</p>
                <p class="black-text">{{post.body}}</p>
                
                </a>
                
            </div>

    {% endfor %}
    
{% endblock %}