<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Blog</title>
</head>
<body>
    <!-- <header class="container left-align">
        <h3>Liviu Bartha</h3>

    </header> -->
    <nav class="white">
            <div class="nav-wrapper container">
              <a class="brand-logo light-blue-text text-darken-4">Liviu Bartha</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                
                <li><a href="https://www.facebook.com/liviu.bartha"><i class="fa fa-facebook" style="color:#3b5998"></i></a></li>
                <li><a href="https://twitter.com/liv_hbk"><i class="fa fa-twitter" style="color:#00aced"></i></a></li>
                <li><a href="https://gitlab.com/liv_hbk"><i class="fa fa-gitlab" style="color:#fc6d26"></i></a></li>
                <li><a href="https://www.linkedin.com/in/liviu-bartha-325251169/"><i class="fa fa-linkedin" style="color:#007bb6"></i></a></li>
                <li><a href="/posts" class="light-blue-text text-darken-4">Blog</a></li>
                <!-- <li><a href="#" class="light-blue-text text-darken-4">About</a></li> -->
              </ul>
            </div>
          </nav>
    <div class="container">      
    <div class="row">
    <div class="col l7 offset-l2">
        {% block content %}
        {% endblock %}
        <br>

        <!-- <a style="display:block" class ="center-align" href="/admin">Admin Login</a> -->
    </div>    
    </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>